{% extends 'base.html' %} {% load static %} {% block content %}
<header class="relative w-full">
  <img class="w-full hidden lg:block" src="{% static 'header2.png' %}" alt="" />
  <img class="w-full lg:hidden" src="{% static 'images/a.png' %}" alt="" />
</header>
<div class="absolute titulo mx-auto">
  <h1>PAM ROBLES</h1>
  <h2 class="text-4xl nature">Nature Photography</h2>
</div>

<section>
  <img
    class="w-1/6 mx-auto mt-20"
    src="{% static 'images/logoblack.png' %}"
    alt=""
    srcset=""
  />
  <div class="flex flex-col items-center">
    <h2 class="text-2xl nature mt-10">Naturaleza Argentina</h2>
    <p class="text-xl text-gray-500 text-center">
      Paisajes que llenan mi alma, un regalo de la naturaleza como recompensa o
      una muestra de su gran inmensidad.
    </p>
  </div>
</section>

<section class="grid mx-auto grid-cols-2 gap-6 p-4 mt-10 md:grid-cols-3">
  <div class="">
    <img src="{% static 'images/20f/1.jpg' %}" alt="" />
  </div>
  <div class="">
    <img src="{% static 'images/20f/1.jpg' %}" alt="" />
  </div>
  <div class="">
    <img src="{% static 'images/20f/1.jpg' %}" alt="" />
  </div>
  <div class="">
    <img src="{% static 'images/20f/1.jpg' %}" alt="" />
  </div>
</section>
<footer class="bg-cyan-600">A</footer>

{% endblock %}
